<mat-toolbar>
  <mat-toolbar-row>
    <img src="assets/svg/LogoSimSave.svg" />
    <span class="example-spacer"></span>
    <a routerLink="/login">
      <button id="bttoolbar1" mat-stroked-button>ENTRAR</button>
    </a>
    <a routerLink="/login">
      <button id="bttoolbar2" mat-raised-button color="primary">
        CADASTRE-SE
      </button>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<app-background></app-background>
<app-cards></app-cards>
<app-footerbackground></app-footerbackground>
<app-footer></app-footer>
