*{
    box-sizing: border-box;
}
.example-spacer {
    flex: 1 1 auto;
  }

#bttoolbar1{
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#bttoolbar2{
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
}