<div class="fundoBlue">
  <div class="cardLogIn">
    <input type="image" routerLink="" src="assets/svg/LogoSimSaveWhite.svg" />
    <mat-card class="example-card">
      <h2 id="title">Entrar na plataforma</h2>
      <label
        >Digite seu e-mail e senha <br />
        abaixo para entrar na plataforma.</label
      >
      <mat-card-content>
        <div class="example-container">
          <mat-form-field class="example-full-width">
            <mat-label></mat-label>
            <input matInput placeholder="Login" value="Nome" />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label></mat-label>
            <input
              matInput
              placeholder="Password"
              value="Senha"
            /> </mat-form-field
          ><br />
          <a>
            <button mat-raised-button color="primary">CADASTRE-SE</button>
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
