<div class="fundo1">
  <div id="fundo2"></div>
  <div class="card_subs">
    <div id="cardSubscribe">
      <mat-card class="example-card">
        <h3>Ainda não é assinante?</h3>
        <mat-card-content>
          <p>
            Cadastre-se gratuitamente e descubra como vários profissionais da
            área da saúde estão aprimorando seus estudos atravéss do método
            inovador SimSave.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button routerLink="/login" href="" target="_blank"
            >Cadastre-se</a
          >
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
