/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
@import "~@fortawesome/fontawesome-free/css/brands.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";

html, body { height: 100%; }
body { 
    margin: 0; padding: 0; box-sizing: border-box; font-family: Roboto, "Helvetica Neue", sans-serif; }

  