* {
  box-sizing: border-box;
}

.containers {
  position: relative;
  display: flex;
  justify-content: center;
}

.cardcontainer {
  position: absolute;
  display: contents;
  z-index: 5;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  align-items: center;
}

.grid {
  display: grid;
}

.grid-template-columns-4 {
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-auto-flow: row dense;
  grid-gap: 25px;
  justify-content: center;
  justify-items: center;
  margin-top: -35vh;
  z-index: 9999;
  box-sizing: border-box;
  width: 80%;
}

.item {
  text-align: center;
  font-size: 1.5em;
  box-sizing: content-box;
}

body {
  font-family: roboto;
  color: #333;
  margin: 0px;
  padding-bottom: 60px;
}

body > div {
  padding: 40px 0;
}

body > div:nth-of-type(even) {
  background: rgba(0, 0, 0, 0.03);
}

p {
  font-size: 0.7em;
}

/*CARD CONTAINER*/

/* CARTÕES */

.mat-card {
  text-align: center;
  box-sizing: content-box;
  line-height: normal;
  margin-left: 5px;
  margin-right: 5px;
  height: 220px;
}

.mat-card-content,
.mat-card-content {
  box-sizing: border-box;
}

.mat-card:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}

.mat-card-title {
  text-align: center;
}

.example-card {
  text-align: center;
}

#btfundo1 {
  font-weight: bold;
}

#btfundo3 {
  color: #878787;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

#btfundo4 {
  color: #35db93;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

#title1,
#title2,
#title3,
#title5 {
  font-weight: bold;
}

/* MEDIA QUERY */

@media screen and (max-width: 600px) {
  .grid,
  .item {
    display: block;
    box-sizing: border-box;
    margin-bottom: 15px;
  }

  p {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 768px) {
  .grid,
  .item {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .mat-card {
    width: 100%;
  }

  p {
    font-size: 0.9em;
  }
}
