<div class="cardcontainer">
  <span class="grid grid-template-columns-4">
    <div class="item">
      <mat-card class="example-card" fxFlex.lt-sm="100%">
        <h2 id="title1">URGENCY</h2>
        <mat-card-content>
          <p *ngFor="let c1 of cards1">
            <!-- {{c1.text}} -->
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button id="btfundo1" mat-stroked-button>SAIBA MAIS</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="item">
      <mat-card class="example-card" fxFlex.lt-sm="100%">
        <h2 id="title2">STUDENT</h2>
        <mat-card-content>
          <p *ngFor="let c2 of cards2">
            <!-- {{c2.text}} -->
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button id="btfundo2" mat-stroked-button>EM BREVE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="item">
      <mat-card class="example-card" fxFlex.lt-sm="100%">
        <h2 id="title3">SPECIALIST</h2>
        <mat-card-content>
          <p *ngFor="let c3 of cards3">
            <!-- {{c3.text}} -->
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button id="btfundo3" mat-stroked-button>EM BREVE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="item">
      <mat-card class="example-card" fxFlex.lt-sm="100%">
        <h2 id="title4">NURSING</h2>
        <mat-card-content>
          <p *ngFor="let c4 of cards4">
            <!-- {{c4.text}} -->
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button id="btfundo4" mat-stroked-button>SAIBA MAIS</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </span>
</div>
