<span class="grid grid-template-columns-4">
  <div class="item" *ngFor="let card of cards">
    <mat-card
      class="example-card"
      ftFlex.lt-lg="100%"
      ftFlex.lt-md="100%"
      fxFlex.lt-sm="100%"
    >
      <h2 id="title1" [ngStyle]="{ color: card.color }">
        {{ card.title }}
      </h2>
      <mat-card-content>
        <p>
          {{ card.text }}
        </p>
        <button
          id="btfundo1"
          [ngStyle]="{ color: card.color }"
          mat-stroked-button
        >
          SAIBA MAIS
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</span>
