* {
  box-sizing: border-box;
}

#fundo {
  background: transparent 0% 0% no-repeat padding-box;
  background-image: url("src/assets/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 600px) {
  #fundo {
    background-image: url("src/assets/banner-vert.png");
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 768px) {
  #fundo {
    background-image: url("src/assets/banner-vert.png");
    background-repeat: no-repeat;
  }
}
